# Gradle
.gradle/
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.classpath
*.project
.settings/

# OS
.DS_Store
Thumbs.db

# PDF generés
*.pdf

# Fichiers locaux
CLAUDE.md
